body {
            margin: 0;
            height: 100vh;
            display: flex;
            justify-content: center;  
            align-items: center;      
            background-color: #f0f0f0;
        }

        #id1 {
            background-color: #ffffff;
            padding: 30px;
            border: 1px solid #ccc;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
            border-radius: 8px;
        }

        #id2 {
            margin-bottom: 10px;
        }